/* App.css */

.textarea-container {
    margin-bottom: 20px;
  }
  
  .textarea {
    width: 100%; /* Set the width to 100% to occupy the full width of its container */
    min-height: 200px; /* Set a minimum height */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button-container {
    text-align: center;
    margin-top: 10px; /* Add margin to create space between the textarea and the button */
  }
  
  .extract-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #368728;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: -208px;
  }
  
  .extract-button:hover {
    background-color: #0056b3;
  }
  